## ASG-5-1 - Lists & Tuples
---

In [79]:
Your_last_name = 'Farrow'
Your_netID = 'tdf35'

___
## Part 1) Working with lists
The Business Analytics concentration requirements are as follows:

* AEM 2820: Database Management Systems
* AEM 2830: VBA & Python
* AEM 3100: Business Statistics
* AEM 2010: Spreadsheet Modeling

The class capacity of AEM 2820 is 35, AEM 2830 is 25, AEM 3100 is 45, and AEM 2010 is 40.

_____
#### Part 1-a)
Create 3 separate lists; one for course codes, one for course titles, and one for course capacity and name them course_code, course_title, and course_capacity.

In [80]:
course_code = ['AEM 2820', 'AEM 2830', 'AEM 3100', 'AEM 2010']
course_title = ['Database Management Systems','VBA & Python','Business Statistics','Spreadsheet Modeling']
course_capacity = [35,25,45,40]

_____
#### Part 1-b) List slicing
Use __list[index]__ method to print the following:
* Course code of VBA & Python class. i.e. print(course_code[1])
* Course title of AEM 2820 class.
* Course capacity of Spreadsheet Modeling class.
* Print course capacity of 'AEM 2830' and 'AEM 3100'
* Print the last item on the course code.

In [81]:
print(course_code[1])
print(course_title[0])
print(course_capacity[3])
print(course_capacity[1:3])
print(course_code[-1])

AEM 2830
Database Management Systems
40
[25, 45]
AEM 2010

_____
#### Part 1-c)
* Print course titles using __for loop__.
* Print course titles using __while loop__.

In [82]:
for course in course_title:
    print(course)

Database Management Systems
VBA & Python
Business Statistics
Spreadsheet Modeling

In [83]:
i = 0
while i < 4:
    print(course_title[i])
    i+=1

Database Management Systems
VBA & Python
Business Statistics
Spreadsheet Modeling

_____
#### Part 1-d)
Print course codes, titles, and capacities in following format using a for loop.
    
    AEM 2820 : Database Management Systems , cap is 35
    AEM 2830 : VBA & Python , cap is 25
    AEM 3100 : Business Statistics , cap is 45
    AEM 2010 : Spreadsheet Modeling , cap is 40

In [84]:
for index in range(len(lst1)):
    print (course_code[index],':',course_title[index],", cap is",course_capacity[index])

AEM 2820 : Database Management Systems , cap is 35
AEM 2830 : VBA & Python , cap is 25
AEM 3100 : Business Statistics , cap is 45
AEM 2010 : Spreadsheet Modeling , cap is 40

_____
#### Part 1-e)
Update the AEM 2820 course name. The old name is "Database Management Systems". Change it to "DBMS".

In [85]:
course_title[0] = 'DBMS'
print(lst2)

['DBMS', 'VBA & Python', 'Business Statistics', 'Spreadsheet Modeling']

_____
#### Part 1-f) List methods
* Use __index()__ method to find the location of the "Business Statistics" course on __course_title__. Save the index value into a variable named __target_index__. Print __target_index__.

In [86]:
target_index = course_title.index('Business Statistics')
print(target_index)

2

* Use __pop()__ method to remove "Business Statistics" __code__ from __course_code__ list. Use __target_index__ value. Save the deleted item to a variable called __target_course__ and print __target_course__.

In [87]:
target_course = course_code.pop(target_index)
print(target_course)

AEM 3100

* Use __remove()__ method to remove "Business Statistics" __title__ from __course_title__ list.

In [88]:
course_title.remove('Business Statistics')

* Use __del__ to delete "Business Statistics" capacity from __course_capacity__ list.

In [89]:
del course_capacity[2]

* Print all lists to make sure the code, title, and capacity of the "Business Statistics" is removed.

In [90]:
print(course_title)
print(course_capacity)
print(course_code)

['DBMS', 'VBA & Python', 'Spreadsheet Modeling']
[35, 25, 40]
['AEM 2820', 'AEM 2830', 'AEM 2010']

_____
#### Part 1-g)
Add the following course to the end of the related lists: AEM 4110, Econometrics, capacity 60

In [91]:
course_code.append('AEM 4110')
course_capacity.append(60)
course_title.append('Econometrics')

_____
#### Part 1-h)
* Sort course_title list.
* Reverse the order of course_title.

In [94]:
course_title.sort()
print(course_title)

['DBMS', 'Econometrics', 'Spreadsheet Modeling', 'VBA & Python']

In [97]:
course_title.reverse()
print(course_title)

['VBA & Python', 'Spreadsheet Modeling', 'Econometrics', 'DBMS']

_____
#### Part 1-i) List functions
Use built-in functions to answer this:
* What is the length of course_title list?
* What is the total capacity of the courses?

In [98]:
x = len(course_title)
print(x)

4

In [99]:
sum(course_capacity)

160

___
## Part 2) Tuples

#### Part 3-a)
Create a tuple for each course in part 1-a. The first item in the tuple should be course code, the second item course title, and the third item course cap. Just type the tuples in the cell.

In [100]:
course_1 = ('AEM 3100', 'Business Statistics', 45)
course_2 = ('AEM 2010', 'Spreadsheet Modeling', 40)
course_3 = ('AEM 2830', 'VBA & Python', 25)
course_4 = ('AEM 2820', 'Database Management Systems', 35)

___
#### Part 3-b)
Use tuple unpacking to unpack the first tuple in part 3-a. Assign the values to variables var1, var2, var3. Print the variables.

In [101]:
var1, var2, var3 = course_1
print(var1, var2, var3)

AEM 3100 Business Statistics 45

---
## Part 3

The following table provides the stock data for 10 companies on Oct-15, 2019. The data stored in a list of tuples below:

Company Name|Ticker|Open|High|Low|Close
-|-|-|-|-|-
Microsoft|MSFT|140.06|141.79|139.81|141.57
Apple|AAPL|236.39|237.65|234.88|235.32
Amazon|AMZN|1742.14|1776.45|1740.62|1767.38
Alphabet|GOOG|1220.4|1247.33|1220.4|1243.01
Facebook|FB|183.8|190.38|183.66|188.89
JPMorgan Chase|JPM|118.85|121.59|117.87|119.96
Johnson and Johnson|JNJ|133.0|134.25|132.1|132.84
Visa|V|178.13|179.43|177.55|178.75
Walmart|WMT|119.33|119.99|118.87|119.53
P and G|PG|20.19|120.56|116.7|117.2

Write a function that takes df_1 (list of tuples) and a ticker name. The function should return the High price of the given stock from df_1. The High price is the 4th item of each tuple.

In [124]:
df_1 =      [('Company Name', 'Ticker', 'Open', 'High','Low', 'Close'),
             ('Microsoft', 'MSFT', 140.06, 141.79, 139.81, 141.57),
             ('Apple', 'AAPL', 236.39, 237.65, 234.88, 235.32),
             ('Amazon', 'AMZN', 1742.14, 1776.45, 1740.62, 1767.38),
             ('Alphabet', 'GOOG', 1220.4, 1247.33, 1220.4, 1243.01),
             ('Facebook', 'FB', 183.8, 190.38, 183.66, 188.89),
             ('JPMorgan Chase', 'JPM', 118.85, 121.59, 117.87, 119.96),
             ('Johnson and Johnson', 'JNJ', 133.0, 134.25, 132.1, 132.84),
             ('Visa', 'V', 178.13, 179.43, 177.55, 178.75),
             ('Walmart', 'WMT', 119.33, 119.99, 118.87, 119.53),
             ('P and G', 'PG', 120.19, 120.56, 116.7, 117.2)]

In [147]:
def get_high(df,ticker):
    for s in df:
        if s[1]==ticker:
            return s[3]

In [148]:
# Test your function:
get_high(df_1, 'MSFT')

141.79