## ASG-5-2 - Dictionaries 
---

In [1]:
Your_last_name = 'Farrow'
Your_netID = 'tdf35'

___
## Part 1) Dictionaries

#### Part 1-a)
Create a dictionary for AEM 2840. Dictionary name should be course_dict.

The Kyes are:
* course_code
* course_title
* course_capacity

and the values are:
* AEM 2840
* Python for Business Analytics
* 25

In [17]:
course_dict = {'course_code':'AEM 2840','course_title': 'Python for Business Analytics','course_capacity':'25'}

___
#### Part 1-b)
* Create a list of keys in course_dict. Print the resulted list.
* Create a list of values in course_dict. Print the resulted list.

In [18]:
course_dict.keys()

dict_keys(['course_code', 'course_title', 'course_capacity'])

In [19]:
course_dict.values()

dict_values(['AEM 2840', 'Python for Business Analytics', '25'])

___
#### Part 1-c)
Create a new dictionary and name it course_dict_2. 

The Kyes are:
* course_code
* course_title
* course_capacity

and the values (as lists) are:
* course code     -->  'AEM 2820', 'AEM 2830', 'AEM 3100', 'AEM 2010'
* course title    -->  'Database Management Systems', 'VBA & Python', 'Business Statistics', 'Spreadsheet Modeling'
* course capacity -->   35, 25, 45, 40

In [20]:
course_dict_2 = {'course code': ['AEM 2820','AEM 2830', 'AEM 3100', 'AEM 2010'],'course title': ['Database Management Systems','VBA & Python','Business Statistics','Spreadsheet Modeling'],'course capacity': ['35','25','45','40']}

___
#### Part 1-d)
* Check if AME 2010 is a key in the course_dict.
* Check if AME 2010 is __not__ a key in the course_dict.

In [21]:
'AME 2010' in course_dict

False

In [22]:
'AME 2010' not in course_dict

True

---
## Part 2

The following table provides the stock data for 10 companies on Oct-15, 2019. The data stored in a dictionary:

Company Name|Ticker|Open|High|Low|Close
-|-|-|-|-|-
Microsoft|MSFT|140.06|141.79|139.81|141.57
Apple|AAPL|236.39|237.65|234.88|235.32
Amazon|AMZN|1742.14|1776.45|1740.62|1767.38
Alphabet|GOOG|1220.4|1247.33|1220.4|1243.01
Facebook|FB|183.8|190.38|183.66|188.89
JPMorgan Chase|JPM|118.85|121.59|117.87|119.96
Johnson and Johnson|JNJ|133.0|134.25|132.1|132.84
Visa|V|178.13|179.43|177.55|178.75
Walmart|WMT|119.33|119.99|118.87|119.53
P and G|PG|20.19|120.56|116.7|117.2

In [34]:
df_1 = {'Company Name': ['Microsoft', 'Apple', 'Amazon', 'Alphabet', 'Facebook', 'JPMorgan Chase', 'Johnson and Johnson', 'Visa', 'Walmart', 'P and G'],
        'Ticker'      : ['MSFT', 'AAPL', 'AMZN',  'GOOG', 'FB', 'JPM', 'JNJ', 'V', 'WMT', 'PG'],
        'Open'        : [140.06, 236.39, 1742.14, 1220.4, 183.8, 118.85, 133.0, 178.13, 119.33, 120.19],
        'High'        : [141.79, 237.65, 1776.45, 1247.33, 190.38, 121.59, 134.25, 179.43, 119.99, 120.56],
        'Low'         : [139.81, 234.88, 1740.62, 1220.4, 183.66, 117.87, 132.1, 177.55, 118.87, 116.7],
        'Close'       : [141.57, 235.32, 1767.38, 1243.01, 188.89, 119.96, 132.84, 178.75, 119.53, 117.2]}

In [44]:
def get_low_price(x,ticker):
    for t in range(len(x['Ticker'])):
        if x['Ticker'][t] == ticker:
            return x['Low'][t]

In [45]:
print(get_low_price(df_1,'AAPL'))

234.88