## ASG-5-1 - Lists & Tuples
---

In [80]:
course_code = ['AEM 2820', 'AEM 2830', 'AEM 3100', 'AEM 2010']
course_title = ['Database Management Systems','VBA & Python','Business Statistics','Spreadsheet Modeling']
course_capacity = [35,25,45,40]

In [81]:
print(course_code[1])
print(course_title[0])
print(course_capacity[3])
print(course_capacity[1:3])
print(course_code[-1])

AEM 2830
Database Management Systems
40
[25, 45]
AEM 2010

In [82]:
for course in course_title:
    print(course)

Database Management Systems
VBA & Python
Business Statistics
Spreadsheet Modeling

In [83]:
i = 0
while i < 4:
    print(course_title[i])
    i+=1

Database Management Systems
VBA & Python
Business Statistics
Spreadsheet Modeling

In [84]:
for index in range(len(lst1)):
    print (course_code[index],':',course_title[index],", cap is",course_capacity[index])

AEM 2820 : Database Management Systems , cap is 35
AEM 2830 : VBA & Python , cap is 25
AEM 3100 : Business Statistics , cap is 45
AEM 2010 : Spreadsheet Modeling , cap is 40

In [85]:
course_title[0] = 'DBMS'
print(lst2)

['DBMS', 'VBA & Python', 'Business Statistics', 'Spreadsheet Modeling']

In [86]:
target_index = course_title.index('Business Statistics')
print(target_index)

2

In [87]:
target_course = course_code.pop(target_index)
print(target_course)

AEM 3100

In [88]:
course_title.remove('Business Statistics')

In [89]:
del course_capacity[2]

In [90]:
print(course_title)
print(course_capacity)
print(course_code)

['DBMS', 'VBA & Python', 'Spreadsheet Modeling']
[35, 25, 40]
['AEM 2820', 'AEM 2830', 'AEM 2010']

In [91]:
course_code.append('AEM 4110')
course_capacity.append(60)
course_title.append('Econometrics')

In [94]:
course_title.sort()
print(course_title)

['DBMS', 'Econometrics', 'Spreadsheet Modeling', 'VBA & Python']

In [97]:
course_title.reverse()
print(course_title)

['VBA & Python', 'Spreadsheet Modeling', 'Econometrics', 'DBMS']

In [98]:
x = len(course_title)
print(x)

4

In [99]:
sum(course_capacity)

160

In [100]:
course_1 = ('AEM 3100', 'Business Statistics', 45)
course_2 = ('AEM 2010', 'Spreadsheet Modeling', 40)
course_3 = ('AEM 2830', 'VBA & Python', 25)
course_4 = ('AEM 2820', 'Database Management Systems', 35)

In [101]:
var1, var2, var3 = course_1
print(var1, var2, var3)

AEM 3100 Business Statistics 45

In [124]:
df_1 =      [('Company Name', 'Ticker', 'Open', 'High','Low', 'Close'),
             ('Microsoft', 'MSFT', 140.06, 141.79, 139.81, 141.57),
             ('Apple', 'AAPL', 236.39, 237.65, 234.88, 235.32),
             ('Amazon', 'AMZN', 1742.14, 1776.45, 1740.62, 1767.38),
             ('Alphabet', 'GOOG', 1220.4, 1247.33, 1220.4, 1243.01),
             ('Facebook', 'FB', 183.8, 190.38, 183.66, 188.89),
             ('JPMorgan Chase', 'JPM', 118.85, 121.59, 117.87, 119.96),
             ('Johnson and Johnson', 'JNJ', 133.0, 134.25, 132.1, 132.84),
             ('Visa', 'V', 178.13, 179.43, 177.55, 178.75),
             ('Walmart', 'WMT', 119.33, 119.99, 118.87, 119.53),
             ('P and G', 'PG', 120.19, 120.56, 116.7, 117.2)]

In [147]:
def get_high(df,ticker):
    for s in df:
        if s[1]==ticker:
            return s[3]

In [148]:
# Test your function:
get_high(df_1, 'MSFT')

141.79